<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crime Scene Investiagtion · Wilson Forms</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <link rel="stylesheet" href="../../src/css/main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!--  -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--  -->
</head>
<body class="wrapper bg-light">
  <style>
    body { 
      /* font-family: 'Inter', sans-serif;  */
      font-family: 'Source Sans Pro', sans-serif;
    }
    .wrapper { max-width: 1000px; position: relative; margin: 50px auto;}
  </style>
  <div class="py-5 text-center">
    <h2><strong>Форма расследования сцены преступления</strong></h2>
    <!-- <p class="lead">фыв</p> -->
  </div>
  <form id="app">
    <div class="container">
      <div class="mb-5">
        <h3>CRIME SCENE INVESTIGATION NARRATIVE</h3>
        <div class="row g-3 mb-3">
          <div class="col-sm-6">
            <label for="name" class="form-label">Ответственный эксперт</label>
            <input type="text" class="form-control" placeholder="ДОЛЖНОСТЬ ИМЯ ФАМИЛИЯ" v-model="csinOne">
          </div>
          <div class="col-sm-6">
            <label for="name" class="form-label">Ответственный офицер</label>
            <input type="text" class="form-control" placeholder="ДОЛЖНОСТЬ ИМЯ ФАМИЛИЯ" v-model="csinTwo">
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-sm-6">
            <label for="name" class="form-label">Для связи</label>
            <input type="text" class="form-control" placeholder="ВАШ НОМЕР ТЕЛЕФОНА" v-model="csinThree">
          </div>
          <div class="col-sm-6">
            <label for="name" class="form-label">No. отчёта</label>
            <input type="text" class="form-control" placeholder="N 00X/MM-DD" v-model="csinFour">
          </div>
        </div>
      </div>
      <!--  -->
      <div class="mb-5">
        <h3>DEAD BODY INSPECTION CARD</h3>
        <h4>Тип смерти</h4>
        <div class="row g-3 mb-2">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="typeOne" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Насильственная смерть" disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="typeTwo" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Несчастный случай" disabled>
            </div>
          </div>
        </div>

        <div class="row g-3 mb-3">
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="typeThree" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Подозрительная смерть" disabled>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="typeFour" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Инцидент, связанный с преступной группировкой" disabled>
            </div>
          </div>
        </div>

        <h4>Характер смерти</h4>
        <div class="row g-3 mb-2">
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="characterOne" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Несчастный случай" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="characterTwo" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Суицид" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="characterThree" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Убийство" disabled>
            </div>
          </div>
        </div>
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="characterFour" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Естественная смерть" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="characterFive" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Не установлен" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" v-model="characterSix" true-value="✓" false-value="–">
              </div>
              <input type="text" class="form-control" value="Расследуется" disabled>
            </div>
          </div>
        </div>
        
        <h4>Детали и установленные обстоятельства</h4>
        <h5>Личные данные жертвы</h5>
        <div class="row g-3 mb-3">
          <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Имя Фамилия" v-model="vicidOne">
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Возраст" v-model="vicidTwo">
          </div>
          <div class="col-sm-3">
            <select class="form-select" v-model="vicidThree">
              <option selected disabled value="">Биологический пол</option>
              <option value="Мужской">Мужской</option>
              <option value="Женский">Женский</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select class="form-select " v-model="vicidFour">
              <option selected disabled value="">Раса</option>
              <option value="Белый">Белый</option>
              <option value="Чернокожий, негр или афроамериканец">Чернокожий, негр или афроамериканец</option>
              <option value="Индеец или коренной житель Аляски">Индеец или коренной житель Аляски</option>
              <option value="Азиат">Азиат</option>
              <option value="Гаваец или житель Океании">Гаваец или житель Океании</option>
              <option value="Две или более расы">Две или более расы</option>
            </select>
          </div>
        </div>
        <h5>Место обнаружения трупа</h5>
        <div class="row g-3 mb-3">
          <div class="col-sm-4">
            <select class="form-select" v-model="vicSceneOne">
              <option selected disabled value="">Область</option>
              <option value="Город Лос-Сантос">Город Лос-Сантос</option>
              <option value="Город Палето-Бэй">Город Палето-Бэй</option>
              <option value="Город Сэнди-Шорс">Город Сэнди-Шорс</option>
              <option value="Округ Блэйн">Округ Блэйн</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Район" v-model="vicSceneTwo">
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Дорога" v-model="vicSceneThree">
          </div>
        </div>
        <h5>Время обнаружения трупа</h5>
        <div class="row g-3 mb-3">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="МММ ДД, ГГГ" v-model="vicTimeOne">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="ЧЧ:ММ АМ/ПМ" v-model="vicTimeTwo">
          </div>
        </div>
        <h5>Время транспортировки трупа</h5>
        <div class="row g-3 mb-4">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="МММ ДД, ГГГ" v-model="vicTimeThree">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="ЧЧ:ММ АМ/ПМ" v-model="vicTimeFour">
          </div>
        </div>
        <h5>Комментарии судебно-медицинского эксперта</h5>
        <div class="form-floating mb-3">
          <textarea class="form-control" style="height: 100px" v-model="commentOne"></textarea>
          <label for="floatingInput">Осмотр тела, его положения, характера травм</label>
        </div>
        
        <div class="form-floating mb-3">
          <textarea class="form-control" style="height: 100px" v-model="commentTwo"></textarea>
          <label for="floatingInput">Осмотр места преступления</label>
        </div>
        
        <div class="form-floating mb-3">
          <textarea class="form-control" style="height: 100px" v-model="commentThree"></textarea>
          <label for="floatingInput">Иные обстоятельства</label>
        </div>

        <div class="form-floating mb-3">
          <textarea class="form-control" style="height: 100px" v-model="commentFour"></textarea>
          <label for="floatingInput">Фотофиксация тела трупа  в исходном положении, произведенная экспертом на месте преступления</label>
        </div>

        

    	<input type="text" class="form-control" placeholder="Подпись" v-model="sign">
      </div>
      <!--  -->
      <br>
      <button type="button" class="btn btn-primary container-fluid" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="summarycard()">Показать код</button>
      <br></br>
      <button class="btn btn-outline-primary container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#preview" aria-expanded="false" aria-controls="preview">Предпросмотр формы</button>
      <!-- modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Код для вставки на форум</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
              <div>
                <code id="code">
                  [float=left][img]https://www.upload.ee/image/13524422/FSTD.png[/img][/float]<br>
                  [float=right][size=85]Город Лос-Сантос, СА<br>
                  район Веспуччи, Сан-Андреас авеню<br>
                  Судебно-медицинская лаборатория<br>
                  +1 (212) 6789 807[/size][/float]<br>
                  [b][size=125][color=#004080]Los Santos Police Department[/color][/b][/size]<br>
                  [b][size=100][color=#004080]Forensic Analysis Report System[/color][/b][/size]<br>
                  <br>
                  [adp]FOR OFFICIAL USE ONLY[/adp][br]<br>
                  [br][center][borderb=black][size=125][b]CRIME SCENE INVESTIGATION NARRATIVE[/b][/size][/borderb][/center]<br>
                  [br][float=left][size=85][b]Ответственный эксперт[/b] [/size]<br>
                  [size=85]{{ csinOne }}[/size]<br>
                  <br>
                  [size=85][b]Для связи[/b] [/size]<br>
                  [size=85]{{ csinThree}}[/size][/float]<br>
                  <br>
                  [float=right][size=85][b]Ответственный офицер[/b] [/size]<br>
                  [center][size=85]{{ csinTwo }}[/size][/center]<br>
                  <br>
                  <br>
                  <br>
                  [center][size=85][b]No. отчёта[/b][/size][/center]<br>
                  [center][size=85]{{ csinFour }}[/size][/center][/float]<br>
                  [br]<br>
                  [br]<br>
                  [br]<br>
                  [br]<br>
                  [center][borderb=black][size=125][b]DEAD BODY INSPECTION CARD[/b][/size][/borderb][/center]<br>
                  [br][size=90][b]Тип смерти:[/b][/size]<br>
                  [warning][color=#000000][size=85]Укажите тип инцидента, исходя из имеющихся в вашем распоряжении сведений, заменив обозначение (–) на (✓).[/size][/color][/warning]<br>
                  [tab][tr][td][size=85][b]Насильственная смерть[/b][/size][/td][td][size=85]{{ typeOne }}[/size][/td][td][size=85][b]Несчастный случай[/b][/size][/td][td][size=85]{{ typeTwo }}[/size][/td][td][size=85][b]Подозрительная смерть[/b][/size][/td][td][size=85]{{ typeThree }}[/size][/td][td][size=85][b]Инцидент, связанный с преступной группировкой[/b][/size][/td][td][size=85]{{ typeFour }}[/size][/td][/tr][/tab]<br>
                  <br>
                  [br][size=90][b]Характер смерти:[/b][/size]<br>
                  [warning][color=#000000][size=85]Классификация характера смерти по установленным в ходе осмотра предварительным обстоятельствам. Отметьте (✓).[/size][/color][/warning]<br>
                  [tab][tr][td][size=85][b]Несчастный случай[/b][/size][/td][td][size=85]{{ characterOne }}[/size][/td][td][size=85][b]Суицид[/b][/size][/td][td][size=85]{{ characterTwo }}[/size][/td][td][size=85][b]Убийство[/b][/size][/td][td][size=85]{{ characterThree }}[/size][/td][td][size=85][b]Естественная смерть[/b][/size][/td][td][size=85]{{ characterFour }}[/size][/td][td][size=85][b]Не установлен[/b][/size][/td][td][size=85]{{ characterFive }}[/size][/td][td][size=85][b]Расследуется[/b][/size][/td][td][size=85]{{ characterSix }}[/size][/td][/tr][/tab]<br>

                  [br][size=90][b]Детали и установленные обстоятельства:[/b][/size]<br>
                  [warning][color=#000000][size=85]Установленные в ходе осмотра места тела трупа обстоятельства, связанные с обстоятельствами наступления смерти лица.[/size][/color][/warning]<br>
                  [tab][tr][td][size=85][b]Личные данные жертвы:[/b][/size][/td][td][size=85]{{ vicidOne }}[/size][/td][td][size=85]{{ vicidTwo }}[/size][/td][td][size=85]{{ vicidThree }}[/size][/td][td][size=85]{{ vicidFour }}[/size][/td][/tr]<br>
                  [tr][td][size=85][b]Место обнаружения трупа:[/b][/size][/td][td][size=85]{{ vicSceneOne }}[/size][/td][td][size=85]{{ vicSceneTwo }}[/size][/td][td][size=85]{{ vicSceneThree }}[/size][/td]<br>
                  [tr][td][size=85][b]Время обнаружения трупа:[/b][/size][/td][td][size=85]{{ vicTimeOne }}[/size][/td][td][size=85]{{ vicTimeTwo }}[/size][/td][/tr]<br>
                  [tr][td][size=85][b]Время транспортировки трупа:[/b][/size][/td][td][size=85]{{ vicTimeThree }}[/size][/td][td][size=85]{{ vicTimeFour }}[/size][/td][/tr][/tab]<br>
                  <br>
                  [br][size=90][b]Комментарии судебно-медицинского эксперта:[/b][/size]<br>
                  [warning][color=#000000][size=85]Дополнительные сведения, комментарии и обстоятельства, изложенные экспертом в ходе работы на месте преступления.[/size][/color][/warning]<br>
                  [tab][tr][td][size=85][b]Осмотр тела, его положения, характера травм:[/b][/size][/td][td][size=85]<span style="white-space: pre-line;">{{ commentOne }}</span>[/size][/td][/tr]<br>
                  [tr][td][size=85][b]Осмотр места преступления:[/b][/size][/td][td][size=85]<span style="white-space: pre-line;">{{ commentTwo }}</span>[/size][/td]<br>
                  [tr][td][size=85][b]Иные обстоятельства:[/b][/size][/td][td][size=85]<span style="white-space: pre-line;">{{ commentThree }}</span>[/size][/td][/tr][/tab]<br>
                  <br>
                  [br][size=90][b]Фотографические материалы:[/b][/size]<br>
                  [warning][color=#000000][size=85]Фотофиксация тела трупа  в исходном положении, произведенная экспертом на месте преступления.[/size][/color][/warning]<br>
                  [spoiler]<span style="white-space: pre-line;">{{ commentFour }}</span>[/spoiler]<br>
                  [br][right][size=85]{{ sign }}[/size][/right]<br>
                  [hr][/hr][size=85][center]© 2022 FARS. Forensic Science & Technical Division[/center][/size]
                </code>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="liveToastBtn" onclick="selectText('code')">Копировать код</button>
            </div>
          </div>
        </div>
      </div>
      <!-- preview -->
      <br>
      <br>
      <div class="collapse" id="preview">
        <div class="card card-body">
          Знак {{ test }}
          <!--  -->
          <div class="content">
          	<div style="float:left;padding:0 10px">
          		<img src="https://www.upload.ee/image/13524422/FSTD.png" class="postimage" alt="Изображение">
          	</div>
          	<div style="float:right;padding:0 10px">
          		<span style="font-size:85%;line-height:116%">Город Лос-Сантос, СА <br> район Веспуччи, Сан-Андреас авеню <br> Судебно-медицинская лаборатория <br> +1 (212) 6789 807 </span>
          	</div>
          	<strong class="text-strong">
          		<span style="font-size:125%;line-height:116%">
          			<span style="color:#004080">Los Santos Police Department</span>
          		</span>
          	</strong>
          	<br>
          	<strong class="text-strong">
          		<span style="font-size:100%;line-height:116%">
          			<span style="color:#004080">Forensic Analysis Report System</span>
          		</span>
          	</strong>
          	<br>
          	<br>
          	<ooc style="border:1px solid grey;padding:5px">FOR OFFICIAL USE ONLY</ooc>
          	<br>
          	<br>
          	<br>
          	<div style="text-align:center">
          		<div style="border-bottom:1px solid black;padding:1px">
          			<span style="font-size:125%;line-height:116%">
          				<strong class="text-strong">CRIME SCENE INVESTIGATION NARRATIVE</strong>
          			</span>
          		</div>
          	</div>
          	<br>
          	<div style="float:left;padding:0 10px">
          		<span style="font-size:85%;line-height:116%">
          			<strong class="text-strong">Ответственный эксперт</strong>
          		</span>
          		<br>
          		<span style="font-size:85%;line-height:116%">{{ csinOne }}</span>
          		<br>
          		<br>
          		<span style="font-size:85%;line-height:116%">
          			<strong class="text-strong">Для связи</strong>
          		</span>
          		<br>
          		<span style="font-size:85%;line-height:116%">{{ csinThree }}</span>
          	</div>
          	<div style="float:right;padding:0 10px">
          		<span style="font-size:85%;line-height:116%">
          			<strong class="text-strong">Ответственный офицер</strong>
          		</span>
          		<div style="text-align:center">
          			<span style="font-size:85%;line-height:116%">{{ csinTwo }}</span>
          		</div>
          		<br>
          		<div style="text-align:center">
          			<span style="font-size:85%;line-height:116%">
          				<strong class="text-strong">No. отчёта</strong>
          			</span>
          		</div>
          		<div style="text-align:center">
          			<span style="font-size:85%;line-height:116%">{{ csinFour }}</span>
          		</div>
          	</div>
          	<br>
          	<br>
          	<br>
          	<br>
          	<br>
          	<br>
          	<br>
          	<div style="text-align:center">
          		<div style="border-bottom:1px solid black;padding:1px">
          			<span style="font-size:125%;line-height:116%">
          				<strong class="text-strong">DEAD BODY INSPECTION CARD</strong>
          			</span>
          		</div>
          	</div>
          	<br>
          	<span style="font-size:90%;line-height:116%">
          		<strong class="text-strong">Тип смерти:</strong>
          	</span>
          	<div style="padding:5px;background-color:#ecd5d8;color:#bc2a4d">
          		<span>
          			<span style="color:#000000">
          				<span style="font-size:85%;line-height:116%">Укажите тип инцидента, исходя из имеющихся в вашем распоряжении сведений, заменив обозначение (–) на (✓).</span>
          			</span>
          		</span>
          	</div>
          	<table border="0">
          		<tbody>
          			<tr>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Насильственная смерть</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ typeOne }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Несчастный случай</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ typeTwo }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Подозрительная смерть</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ typeThree }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Инцидент, связанный с преступной группировкой</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ typeFour }}</span>
          				</td>
          			</tr>
          		</tbody>
          	</table>
          	<br>
          	<span style="font-size:90%;line-height:116%">
          		<strong class="text-strong">Характер смерти:</strong>
          	</span>
          	<div style="padding:5px;background-color:#ecd5d8;color:#bc2a4d">
          		<span>
          			<span style="color:#000000">
          				<span style="font-size:85%;line-height:116%">Классификация характера смерти по установленным в ходе осмотра предварительным обстоятельствам. Отметьте (✓).</span>
          			</span>
          		</span>
          	</div>
          	<table border="0">
          		<tbody>
          			<tr>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Несчастный случай</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ characterOne }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Суицид</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ characterTwo }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Убийство</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ characterThree }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Естественная смерть</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ characterFour }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Не установлен</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ characterFive }}</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Расследуется</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">{{ characterSix }}</span>
          				</td>
          			</tr>
          		</tbody>
          	</table>
          	<br>
          	<span style="font-size:90%;line-height:116%">
          		<strong class="text-strong">Детали и установленные обстоятельства:</strong>
          	</span>
          	<div style="padding:5px;background-color:#ecd5d8;color:#bc2a4d">
          		<span>
          			<span style="color:#000000">
          				<span style="font-size:85%;line-height:116%">Установленные в ходе осмотра места тела трупа обстоятельства, связанные с обстоятельствами наступления смерти лица.</span>
          			</span>
          		</span>
          	</div>
          	<table border="0">
          		<tbody>
          			<tr>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Личные данные жертвы:</strong></span></td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicidOne }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicidTwo }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicidThree }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicidFour }}</span></td>
          			</tr>
          			<tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Место обнаружения трупа:</strong></span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicSceneOne }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicSceneTwo }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicSceneThree }}</span></td>
          			</tr>
          			<tr>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Время обнаружения трупа:</strong></span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicTimeOne }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicTimeTwo }}</span></td>
                </tr>
                <tr>
                 <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Время транспортировки трупа:</strong></span></td>
                 <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicTimeThree }}</span></td>
                 <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ vicTimeFour }}</span></td>
          			</tr>
          		</tbody>
          	</table>
          	<br>
          	<span style="font-size:90%;line-height:116%">
          		<strong class="text-strong">Комментарии судебно-медицинского эксперта:</strong>
          	</span>
          	<div style="padding:5px;background-color:#ecd5d8;color:#bc2a4d">
          		<span>
          			<span style="color:#000000">
          				<span style="font-size:85%;line-height:116%">Дополнительные сведения, комментарии и обстоятельства, изложенные экспертом в ходе работы на месте преступления.</span>
          			</span>
          		</span>
          	</div>
          	<table border="0">
          		<tbody>
          			<tr>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Осмотр тела, его положения, характера травм:</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%;white-space: pre-line;">{{ commentOne }}</span>
          				</td>
          			</tr>
          			<tr>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%;">
          						<strong class="text-strong">Осмотр места преступления:</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%;white-space: pre-line;">{{ commentTwo }}</span>
          				</td>
          			</tr>
          			<tr>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%">
          						<strong class="text-strong">Иные обстоятельства:</strong>
          					</span>
          				</td>
          				<td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;">
          					<span style="font-size:85%;line-height:116%;white-space: pre-line;">{{ commentThree }}</span>
          				</td>
          			</tr>
          		</tbody>
          	</table>
          	<br>
          	<span style="font-size:90%;line-height:116%">
          		<strong class="text-strong">Фотографические материалы:</strong>
          	</span>
          	<div style="padding:5px;background-color:#ecd5d8;color:#bc2a4d">
          		<span>
          			<span style="color:#000000">
          				<span style="font-size:85%;line-height:116%">Фотофиксация тела трупа  в исходном положении, произведенная экспертом на месте преступления.</span>
          			</span>
          		</span>
          	</div>
          	<div style="padding:3px;background-color:#fff;border:1px solid #d8d8d8;font-size:1em">
          		<div style="text-transform:uppercase;border-bottom:1px solid #ccc;margin-bottom:3px;font-size:0.8em;font-weight:bold;display:block">
          			<span onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') {  this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerHTML = '<b>SPOILER: </b><a href=\'#\' onClick=\'return false;\'>hide</a>'; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerHTML = '<b>SPOILER: </b><a href=\'#\' onClick=\'return false;\'>show</a>'; }">
          				<b>SPOILER: </b>
          				<a href="#" onclick="return false;">show</a>
          			</span>
          		</div>
          		<div class="quotecontent">
          			<div style="display:none"><span style="white-space: pre-line;">{{ commentFour }}</span></div>
          		</div>
          	</div>
          	<br>
          	<div align="right">
          		<span style="font-size:85%;line-height:116%">{{ sign }}</span>
          	</div>
          	<div style="width:100%;border-bottom:1px solid silver"></div>
          	<span style="font-size:85%;line-height:116%"></span>
          	<div style="text-align:center">
          		<span style="font-size:85%;line-height:116%">© 2022 FARS. Forensic Science &amp; Technical Division</span>
          	</div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </form>
  <script src="/src/js/copytocb.js"></script>
  <script src="summarycard.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        test: "–",
        csinOne: "",
        csinTwo: "",
        csinThree: "",
        csinFour: "",
        typeOne: "–",
        typeTwo: "–",
        typeThree: "–",
        typeFour: "–",
        characterOne: "–",
        characterTwo: "–",
        characterThree: "–",
        characterFour: "–",
        characterFive: "–",
        characterSix: "–",
        vicSceneOne: "",
        vicSceneTwo: "",
        vicSceneThree: "",
        vicidOne: "",
        vicidTwo: "",
        vicidThree: "",
        vicidFour: "",
        vicSceneThree: "",
        vicSceneThree: "",
        vicSceneThree: "",
        vicTimeOne: "",
        vicTimeTwo: "",
        vicTimeThree: "",
        vicTimeFour: "",
        commentOne: "",
        commentTwo: "",
        commentThree: "",
        commentFour: "",
        sign: ""
      }
    })
  </script>
</body>
</html>
