<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Evidence Inventory Supplement · Wilson Forms</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <link rel="stylesheet" href="../../src/css/main.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!--  -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!--  -->
</head>
<body class="wrapper">
  <style>
    body { 
      /* font-family: 'Inter', sans-serif;  */
      font-family: 'Source Sans Pro', sans-serif;
    }
    .wrapper { max-width: 1000px; position: relative; margin: 50px auto;}
  </style>
  <div class="py-5 text-center">
    <h2><strong>Форма описи вещественных доказательств</strong></h2>
    <!-- <p class="lead">фыв</p> -->
  </div>
  <form id="app">
    <div class="container">
      <!--  -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Номер</th>
              <th scope="col">Доказательство</th>
              <th scope="col">Описание</th>
              <th scope="col">Номер в хранилище</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="one_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="one_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="one_loc"></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="two_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="two_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="two_loc"></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="three_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="three_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="three_loc"></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="four_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="four_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="four_loc"></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="five_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="five_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="five_loc"></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="six_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="six_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="six_loc"></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="seven_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="seven_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="seven_loc"></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="eight_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="eight_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="eight_loc"></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="nine_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="nine_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="nine_loc"></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="ten_proof"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="ten_desc"></td>
              <td><input type="text" class="form-control" placeholder="Введите текст" v-model="ten_loc"></td>
            </tr>
          </tbody>
        </table>
        <div class="form-floating mt-5">
          <textarea class="form-control" style="height: 100px" v-model="photo"></textarea>
          <label for="floatingInput">Фотофиксация тела трупа  в исходном положении, произведенная экспертом на месте преступления</label>
        </div>

        <input type="text" class="mt-3 form-control" placeholder="Подпись" v-model="sign">
      <!--  -->
      <br>
      <button type="button" class="btn btn-primary container-fluid" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="summarycard()">Показать код</button>
      <br></br>
      <button class="btn btn-outline-primary container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#preview" aria-expanded="false" aria-controls="preview">Предпросмотр формы</button>
      <!-- modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Код для вставки на форум</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
              <div>
                <code id="code" data-lang="html">
                  [float=left][img]https://www.upload.ee/image/13524422/FSTD.png[/img][/float] <br>
                  [float=right][size=85]Город Лос-Сантос, СА<br>
                  район Веспуччи, Сан-Андреас авеню<br>
                  Судебно-медицинская лаборатория<br>
                  +1 (212) 6789 807[/size][/float]<br>
                  [b][size=125][color=#004080]Los Santos Police Department[/color][/b][/size]<br>
                  [b][size=100][color=#004080]Forensic Analysis Report System[/color][/b][/size]<br>
                  <br>
                  [adp]FOR OFFICIAL USE ONLY[/adp][br]<br>
                  [br][center][borderb=black][size=125][b]EVIDENCE INVENTORY SUPPLEMENT[/b][/size][/borderb][/center]<br>
                  [br][size=90][b]Опись вещественных доказательств:[/b][/size]<br>
                  [warning][color=#000000][size=85]Обнаруженные при работе на месте экспертом вещественные доказательства, имеющие отношение к ведущемуся расследованию.[/size][/color][/warning]<br>
                  [tab][tr][td][size=85][b][center]Номер[/center][/b][/size][/td][td][size=85][b][center]Доказательство[/center][/b][/size][/td][td][size=85][b][center]Описание[/center][/b][/size][/td][td][size=85][b][center]Номер в хранилище[/center][/b][/size][/td][/tr]<br>
                  [tr][td][size=85]1[/size][/td][td][size=85]{{ one_proof }}[/size][/td][td][size=85]{{ one_desc }}[/size][/td][td][size=85]{{ one_loc }}[/size][/td][/tr]<br>
                  [tr][td][size=85]2[/size][/td][td][size=85]{{ two_proof }}[/size][/td][td][size=85]{{ two_desc }}[/size][/td][td][size=85]{{ two_loc }}[/size][/td][/tr]<br>
                  [tr][td][size=85]3[/size][/td][td][size=85]{{ three_proof }}[/size][/td][td][size=85]{{ three_desc }}[/size][/td][td][size=85][{{ three_loc }}/size][/td][/tr]<br>
                  [tr][td][size=85]4[/size][/td][td][size=85]{{ four_proof }}[/size][/td][td][size=85]{{ four_desc }}[/size][/td][td][size=85]{{ four_loc }}[/size][/td][/tr]<br>
                  [tr][td][size=85]5[/size][/td][td][size=85]{{ five_proof }}[/size][/td][td][size=85]{{ five_desc }}[/size][/td][td][size=85{{ five_loc }}][/size][/td][/tr]<br>
                  [tr][td][size=85]6[/size][/td][td][size=85]{{ six_proof }}[/size][/td][td][size=85]{{ six_desc }}[/size][/td][td][size=85]{{ six_loc }}[/size][/td][/tr]<br>
                  [tr][td][size=85]7[/size][/td][td][size=85]{{ seven_proof }}[/size][/td][td][size=85]{{ seven_desc }}[/size][/td][td][size=85]{{ seven_loc }}[/size][/td][/tr]<br>
                  [tr][td][size=85]8[/size][/td][td][size=85]{{ eight_proof }}[/size][/td][td][size=85]{{ eight_desc }}[/size][/td][td][size=85]{{ eight_loc }}[/size][/td][/tr]<br>
                  [tr][td][size=85]9[/size][/td][td][size=85]{{ nine_proof }}[/size][/td][td][size=85]{{ nine_desc }}[/size][/td][td][size=85]{{ nine_loc }}[/size][/td][/tr]<br>
                  [tr][td][size=85]10[/size][/td][td][size=85]{{ ten_proof }}[/size][/td][td][size=85]{{ ten_desc }}[/size][/td][td][size=85]{{ ten_loc }}[/size][/td][/tr][/tab]<br>
                  <br>
                  [br][size=90][b]Фотографические материалы:[/b][/size]<br>
                  [warning][color=#000000][size=85]Фото- и видеоматериалы, сделанные экспертом при изучении сцены преступления.[/size][/color][/warning]<br>
                  [spoiler]<span style="white-space: pre-line;">{{ photo }}</span>[/spoiler]<br>
                  [br][right][size=85]{{ sign }}[/size][/right]<br>
                  [hr][/hr][size=85][center]© 2022 FARS. Forensic Science & Technical Division[/center][/size]
                </code>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-primary" id="liveToastBtn" onclick="selectText('code')">Копировать код</button>
            </div>
          </div>
        </div>
      </div>
      <!-- preview -->
      <br>
      <br>
      <div class="collapse" id="preview">
        <div class="card card-body">
          <!-- -->
          <div class="content">
            <div style="float:left;padding:0 10px"><img src="https://www.upload.ee/image/13524422/FSTD.png" class="postimage" alt="Изображение"></div>
            <div style="float:right;padding:0 10px"><span style="font-size:85%;line-height:116%">Город Лос-Сантос, СА<br>
          район Веспуччи, Сан-Андреас авеню<br>
          Судебно-медицинская лаборатория<br>
          +1 (212) 6789 807</span></div> <strong class="text-strong"><span style="font-size:125%;line-height:116%"><span style="color:#004080">Los Santos Police Department</span></span></strong>
            <br> <strong class="text-strong"><span style="font-size:100%;line-height:116%"><span style="color:#004080">Forensic Analysis Report System</span></span></strong><br><br>
            <ooc style="border:1px solid grey;padding:5px">FOR OFFICIAL USE ONLY</ooc><br><br><br>
            <div style="text-align:center">
              <div style="border-bottom:1px solid black;padding:1px"><span style="font-size:125%;line-height:116%"><strong class="text-strong">EVIDENCE INVENTORY SUPPLEMENT</strong></span></div>
            </div>
            <br><span style="font-size:90%;line-height:116%"><strong class="text-strong">Опись вещественных доказательств:</strong></span>
            <div style="padding:5px;background-color:#ecd5d8;color:#bc2a4d"><span><span style="color:#000000"><span style="font-size:85%;line-height:116%">Обнаруженные при работе на месте экспертом вещественные доказательства, имеющие отношение к ведущемуся расследованию.</span></span>
              </span>
            </div>
            <table border="0">
              <tbody>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong"></strong></span>
                    <div style="text-align:center"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Номер</strong></span></div>
                  </td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong"></strong></span>
                    <div style="text-align:center"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Доказательство</strong></span></div>
                  </td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong"></strong></span>
                    <div style="text-align:center"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Описание</strong></span></div>
                  </td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%"><strong class="text-strong"></strong></span>
                    <div style="text-align:center"><span style="font-size:85%;line-height:116%"><strong class="text-strong">Номер в хранилище</strong></span></div>
                  </td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">1</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ one_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ one_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ one_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">2</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ two_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ two_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ two_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">3</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ three_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ three_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ three_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">4</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ four_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ four_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ four_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">5</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ five_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ five_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ five_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">6</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ six_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ six_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ six_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">7</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ seven_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ seven_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ seven_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">8</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ eight_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ eight_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ eight_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">9</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ nine_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ nine_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ nine_loc }}</span></td>
                </tr>
                <tr>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">10</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ ten_proof }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ ten_desc }}</span></td>
                  <td style="padding:5px; border: 1px solid #dfdfdf; vertical-align: top;"><span style="font-size:85%;line-height:116%">{{ ten_loc }}</span></td>
                </tr>
              </tbody>
            </table>
            <br><span style="font-size:90%;line-height:116%"><strong class="text-strong">Фотографические материалы:</strong></span>
            <div style="padding:5px;background-color:#ecd5d8;color:#bc2a4d"><span><span style="color:#000000"><span style="font-size:85%;line-height:116%">Фото- и видеоматериалы, сделанные экспертом при изучении сцены преступления.</span></span>
              </span>
            </div>
            <div style="padding:3px;background-color:#fff;border:1px solid #d8d8d8;font-size:1em">
              <div style="text-transform:uppercase;border-bottom:1px solid #ccc;margin-bottom:3px;font-size:0.8em;font-weight:bold;display:block">
                <span onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') {  this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerHTML = '<b>SPOILER: </b><a href=\'#\' onClick=\'return false;\'>hide</a>'; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerHTML = '<b>SPOILER: </b><a href=\'#\' onClick=\'return false;\'>show</a>'; }"><b>SPOILER: </b><a href="#" onclick="return false;">show</a></span>
              </div>
              <div class="quotecontent">
                <div style="display: none;">{{ photo }}</div>
              </div>
            </div>
            <br>
            <div align="right"><span style="font-size:85%;line-height:116%">{{ sign }}</span></div>
            <div style="width:100%;border-bottom:1px solid silver"> </div><span style="font-size:85%;line-height:116%"></span>
            <div style="text-align:center"><span style="font-size:85%;line-height:116%">© 2022 FARS. Forensic Science &amp; Technical Division</span></div>
          </div>
          <!-- -->
        </div>
      </div>
    </div>
  </form>
  <script src="/src/js/copytocbcoded.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        example: "",
        one_proof: "",
        one_desc: "",
        one_loc: "",
        two_proof: "",
        two_desc: "",
        two_loc: "",
        three_proof: "",
        three_desc: "",
        three_loc: "",
        four_proof: "",
        four_desc: "",
        four_loc: "",
        five_proof: "",
        five_desc: "",
        five_loc: "",
        six_proof: "",
        six_desc: "",
        six_loc: "",
        seven_proof: "",
        seven_desc: "",
        seven_loc: "",
        eight_proof: "",
        eight_desc: "",
        eight_loc: "",
        nine_proof: "",
        nine_desc: "",
        nine_loc: "",
        ten_proof: "",
        ten_desc: "",
        ten_loc: "",
        photo: "",
        sign: ""
      }
    })
  </script>
</body>
</html>